<br>
<br>
<br>
<section class="py-5 bg-image-full" style="background-image: url('https://image.freepik.com/free-vector/male-nurse-working-resting-banner_89224-2546.jpg');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
  </section>
  <br>
  <br>
  <br>
  <section class="py-5">
    <div class="container">
      <h1>Gugs are awlays on the move</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
    </div>
  </section>
  <style>
      .position-relative{
          background-color: rgb(175, 175, 175) !important;
      }
  </style>