<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-center">

        <div class="uk-navbar-center-left"><div>
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#"></a></li>
                <li>
                    <a href="#">Login</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a class="" href="/userlogin">User Login</a></li>
                            <li><a class="" href="/nurselogin">Nurse Login</a></li>
                            <li><a class="" href="/about">about</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div></div>
        <a class="uk-navbar-item uk-logo" href="/home">GuggieNurse.net</a>
        <div class="uk-navbar-center-right"><div>
            <ul class="uk-navbar-nav">
                <li><a href="#">Be A Gug Today!</a></li>
            </ul>
        </div></div>

    </div>
</nav>

<style>
    .uk-margin {
    margin-bottom: 0px;
}

li {
    margin-bottom: 10px !important;
}

</style>