<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</div>
<div class="uk-text-center">
    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
        <div class="overlay">
            <img class="pic" src="https://s3-us-west-1.amazonaws.com/fraymework/services/website/caringnurses_com/images/home-nurse-services-min.jpg" alt="">
        </div>
            <div class="uk-position-center">
                <div class="uk-transition-slide-top-small"><h1 class="uk-margin-remove">Headline</h1></div>
                <div class="uk-transition-slide-bottom-small"><h1 class="uk-margin-remove">Subheadline</h1></div>
        
        <!-- <img class="pic" src="https://s3-us-west-1.amazonaws.com/fraymework/services/website/caringnurses_com/images/home-nurse-services-min.jpg" alt="">
            <div class="uk-position-center">
                <div class="uk-transition-slide-top-small"><h1 class="uk-margin-remove">Headline</h1></div>
                <div class="uk-transition-slide-bottom-small"><h1 class="uk-margin-remove">Subheadline</h1></div> -->
        <!-- <img width="100%" class="uk-transition-scale-up uk-transition-opaque" src="" alt=""> -->
    </div>
</div>
    <h1 class="h1wwo">What We Offer</h1>
<div class="d-flex flex-row">
    <div class="p-4 flex-fill">
        <i class="fas fa-map-marked-alt fa-9x"></i>
        <h1>Find Nurses Around You</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, alias ea. Ab, tempore? Voluptas, eligendi deleniti perspiciatis explicabo tempora modi.</p>
    </div>
    <div class="p-4 flex-fill">
        <i class="fas fa-hourglass-end fa-9x"></i>
        <h1>Find and Hire a Nurse Within Minutes</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, alias ea. Ab, tempore? Voluptas, eligendi deleniti perspiciatis explicabo tempora modi.</p>
    </div>
    <div class="p-4 flex-fill">
        <i class="fas fa-star fa-9x"></i>
        <h1>Rate There Preformance</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, alias ea. Ab, tempore? Voluptas, eligendi deleniti perspiciatis explicabo tempora modi.</p>
    </div>
  </div>
  <div class="sd">
    <hr>
  </div>
<!-- <section class="search-sec " style="background-color: rgb(35, 47, 58);">
    <div id="CBAF" class="container">
        <form action="#" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="text" class="form-control search-slt" placeholder="Enter Pickup City">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="text" class="form-control search-slt" placeholder="Enter Drop City">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Select Vehicle</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                                <option>Example one</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="button" class="btn btn-danger wrn-btn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section> -->

 <style>
    /* .search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
} */
/* .wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
} -->
#CBAF{
    height: 50vh;
    background-image: url('https://s3-us-west-1.amazonaws.com/fraymework/services/website/caringnurses_com/images/home-nurse-services-min.jpg');
} */
.d-flex{
    background-color: rgb(216, 216, 216);
}
#h1wwo{
    background-color: rgb(216, 216, 216);
}
.uk-text-center{
    width: 100%;
}
.p-4{
    height: 40vh;
}
.flex-row{
    padding: 50px 0px;
}
/* .uk-inline-clip.uk-transition-toggle{
    background-color: rgba(0, 0, 0, 0.6);
} */
/* .pic {
    width: inherit;
} */
.pic {
    width: 266vh;
    
}
#wwo {
	padding: 60px 0px 20px 0px;
    background: rgb(255, 255, 255);
}
.sd {
    padding: 65px 200px;
    margin-top: 20px;
}
.overlay{
    background: rgba(0, 0, 0,);
    opacity: 0.7;
}
</style>